:root {
  --navbar-height: 60px; /* Adjust based on your actual navbar height */
}

.bb-privacy-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  min-height: calc(80vh - var(--navbar-height));
  margin-top: 10vh;
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if content overflows */
}

.bb-privacy-title {
  font-size: 2rem;
  margin-bottom: 10px;
  
  text-align: center;
}

.bb-privacy-subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
}

.bb-privacy-section {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.bb-privacy-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bb-privacy-text {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.bb-privacy-link {
  color: #007bff;
  text-decoration: none;
}

.bb-privacy-link:hover {
  text-decoration: underline;
}
